.App {
  text-align: center;
  background-color: black;
  color: white;
  padding:0 10% 0 10%;
}

#nav{
  text-align: center;
  background-color: black;
  color: white;
  margin:0 -10% 0 -10%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hexagon {
  margin: 0;
  padding-top: 2%;
  width: 150px;
  height: 150px;
  background-color: #373434;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  /* border: 2px solid rgb(208, 202, 202) */
  transform: rotate(30deg);
}

.our{
  /* margin-right: 70%; */
  /* padding: 0%; */
  text-align: left;
}

#hextext{
  transform: rotate(330deg);
  padding-left: 18%;
  margin-right:40%;
  
}
#hextext1{
  transform: rotate(330deg);
  padding-left: 18%;
  margin-bottom: -9%;
}

.ind{font-weight: 700;}

#pro1{
  width: 88%
}
#pro2{
  width: 92%
}
#pro3{
  width: 80%
}
#pro4{
  width: 70%
}

#scr1{
  margin-bottom: 50%;
}

/* General style for the circle */



.circle {
  position: absolute;
  width: 20px; /* Size of the circle */
  height: 20px;
  background-color: rgba(243, 244, 245, 0.8); /* Circle color */
  border-radius: 50%; /* Makes it a circle */
  pointer-events: none; /* Prevent interference with clicks */
  z-index: 1000; /* Ensure it stays on top of everything */
  transform: translate(-50%, -50%); /* Center the circle on the cursor */
  transition: transform 0.3s ease; /* Smooth transition */
}
